@import "utilities";

body {
	background: none;
	margin: 0 !important;
	padding: 0 !important;
	font-family: Roboto, sans-serif;
	font-size: 1.2rem;
}

@media (max-width: 767px) {
	body {
		font-size: 0.8rem;
	}
}

.c-intro {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.c-intro__question {
	display: flex;
	justify-content: center;
	align-items: center;
}

.c-intro__image {
	display: inline-block;
	width: 28%;
	height: auto;
	align-self: flex-start;
	border-radius: 50%;
	@media (max-width: 767px) {
		width: 23%;
	}
}

.c-intro-message-container {
	display: inline-block;
	width: 65%;
	margin-left: 5%;
	@media (max-width: 767px) {
		width: 70%;
	}
}

.c-intro__message {
	border-radius: 5px;
	background-color: #0067b3;
	color: white;
	padding: 1em;
	position: relative;
	font-size: 1.5em;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.c-intro__message:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 103, 179, 0);
	border-right-color: #0067b3;
	border-width: 14px;
	margin-top: -33px;
	@media (max-width: 767px) {
		border-width: 10px;
		margin-top: -35px;
	}
	@media (max-width: 400px) {
		border-width: 10px;
		margin-top: -59px;
	}
}

.c-header {
	margin-bottom: 1.5em;
	padding: 2rem 0 0 0.5rem;
	text-align: center;
	font-size: 1.5em;
	font-weight: 500;
}
