.c-answer-bubble {
	box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
	background-color: lighten(#0067b3, 10%);
	border-radius: 5px;
	color: white;
	font-size: 1.5rem;
	margin: 1rem 1rem 0 0;
	padding: 1rem;
	width: 25%;
	display: inline-block;
	cursor: pointer;
}