.vertical-timeline-element-subtitle img {
	vertical-align: bottom;
}

.vertical-timeline-element-subtitle {
	margin: 0.7rem 0;
}

.c-technologies {
	margin-top: 0.5rem;
	color: #253C78;
	display: block;
}