.c-skills-paragraph {
	margin: 2em auto 0;
	width: 60%;
	@media (max-width: 767px) {
		width: 90%;
	}
}

.c-skills__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.c-languages {
	margin-top: 3em;
}

.c-skills__header {
	margin-top: 3em;
}